[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pydocstyle = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
html5lib = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
build = "sam build"
start = "sam local start-api"
package = "sam package --s3-bucket ${LAMBDA_BUCKET} --output-template-file package.yaml"
deploy = "aws cloudformation deploy --template-file package.yaml --stack-name ${STACK_NAME} --capabilities CAPABILITY_IAM"
